body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-title {
    margin-top: 0px;
    padding-top:1%;
    padding-bottom:1%;
}

.post-title {
    margin-top: 0px;
    padding-top:1.5%;
    padding-bottom:1.5%;
}

.page-footer {
    padding: 0px;
}
