body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-title {
    margin-top: 0px;
    height:100%;
    padding-top:1em;
    padding-bottom:1em;
    margin-bottom:1%;
}

.page-footer {
    padding: 0px;
}
